/* Geral */

* {
  margin: 0;
  font-family: Sans-Serif;
}

body {
  font-family: "Montserrat", serif;
}

/*Topo*/

.topo-div-pai {
  width: 100%;
  height: 55px;
}

.topo-div-filho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 55px;
  position: fixed;
  border-bottom: solid 1px #6D78F012;
}

/* Links topo */

a {
  text-decoration: none;
  color: black;
  margin: 15px;
  font-size: 23px;
}

.links-topo a {
  font-size: 15px;
}

.links-topo {
  margin-right: 155px;
}

.logo-topo {
  margin-left: 155px;
}

/*Spam azul*/
a spam {
  color: #6D78F0;
}

/* Header */

.topo-div-pai {
  width: 100%;
  height: 55px;
}

.topo-div-filho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  position: fixed;
}

/* Div titulo */

.quartos-solteiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 0px 100px;

}

.quartos-casal, .quartos-familia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 0px 100px;
}


.t1, .t2, .t3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1130px;
  height: 200px;
}

.t1 h2, .t2 h2, .t3 h2 {
  padding: 20px;
  font-weight: 500;
  font-size: 28px;
}

.t1 p, .t2 p, .t3 p {
  padding: 20px;
}

/* Div grid imagens */



.grid1, .grid2, .grid3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1130px;
  height: 250px;
  justify-content: space-between;
  margin: 20px;
}

img {
  width: 365px;
  height: 250px;
}

/* lista */

.inf1, .inf2, .inf3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1130px;
  height: 100px;
  margin: 20px;
}

.inf1 h3, .inf2 h3, .inf3 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1130px;
  font-weight: 600;
  font-size: 18px;
  margin: 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

li{
  width: 230px;
  text-align: left;
}

/* footer */

.footer-pai {
  background-color: #6D78F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 20px;
  font-size: 16px;
  color: #ffffff;
}

.footer-filho {
  display: flex;
  align-items: center;
  width: 1130px;
  height: 100px;
  border-bottom: solid 1px #ffffff;
}

.card-1-f {
  display: flex;
  align-items: center;
  width: 220px;
  height: 100px;
  margin-right: 40px;
}

.card-2-f, .card-3-f {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-right: 30px;
}

.card-4-f {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
}

.cop {
  display: flex;
  width: 1130px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

/* spam */ 

.dan {
  font-weight: 600;
  border-radius: 5px;
}

/* Hover */

a:hover {
  color: #6D78F0;
  font-style: italic;
}

.n:hover {
  font-style: italic;
  color: #ffffff
}

.n {
  font-size: 18px;
  color: #ffffff;
}

.dan:hover {
  color: #ff5900;
}

.icon {
  width: 30px;
  height: 30px;
}